<app-categoryselection></app-categoryselection>
<div class="product-list">
  <mat-toolbar class="allProducts">
    <span >All Products</span>
    <span class="spacer"></span>
    <button *ngIf="isAdmin" mat-button (click)="addProduct()">Ürün Ekle</button>
  </mat-toolbar>
    <mat-card *ngFor="let product of products" class="product-card">
      <div (click)="onProductClick(product._id)">
    <mat-card-header >
      <mat-card-title>{{ product.Urunler_Adi }}</mat-card-title>
    </mat-card-header>
    <div class="product-image">
    <img mat-card-image width="300px" height="300px" [src]="product.Resim_URL" alt="{{ product.Urunler_Adi }}">
  </div>
    <mat-card-content>
      <p>{{ product.Urunler_Fiyat | currency: "₺" }}</p>
    </mat-card-content>
  </div>
    <mat-card-actions class="mat-card-actions">
      <button mat-button *ngIf="!isAdmin" (click)="addToCart(product)">Sepete Ekle</button>
      <button mat-button *ngIf="isAdmin" (click)="editProduct(product)">Düzenle</button>
      <button mat-button *ngIf="isAdmin" (click)="deleteProduct(product._id)">Sil</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator class="paginator-style" [length]="totalProducts"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)">
</mat-paginator>
