<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field>
      <mat-label>Ürün Adı</mat-label>
      <input matInput formControlName="productName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ürün Açıklaması</mat-label>
      <input matInput formControlName="productDescription">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fiyat</mat-label>
      <input matInput formControlName="productPrice" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ürün Stok</mat-label>
      <input matInput formControlName="productStock" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kategori</mat-label>
      <mat-select formControlName="productCategoryID">
        <mat-option *ngFor="let category of categories" [value]="category._id">
          {{ category.category_Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>İndirim Oranı</mat-label>
      <input matInput formControlName="productDiscount" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Resim URL</mat-label>
      <input matInput formControlName="productImageURL">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">İptal</button>
  <button mat-button (click)="onSave()">Kaydet</button>
</div>
