<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
    placeholder="Search for products, categories..."
  />
  <button mat-icon-button class="icon-search" (click)="performSearch()">
    <mat-icon>search</mat-icon>
  </button>

  <ul *ngIf="isResultsVisible && (results.products.length || results.categories.length)">
    <li *ngFor="let product of results.products" (click)="navigateToProduct(product._id)">
      <span class="product-name">{{ product.productName }}</span>
    </li>
    <li *ngFor="let category of results.categories" (click)="navigateToCategory(category._id)">
      <span class="category-name">{{ category.category_Name }}</span>
    </li>
  </ul>
</div>
