<mat-horizontal-stepper linear>
  <!-- Sepet Adımı -->
  <mat-step label="Basket">
    <app-basket></app-basket>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <!-- Ödeme Yöntemi Adımı -->
  <mat-step label="Payment Method">
    <app-payment-method (selectedMethod)="onPaymentMethodSelected($event)"></app-payment-method>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <!-- Kart Bilgileri Adımı (Sadece kredi kartı seçildiğinde) -->
  <mat-step label="Card Info" *ngIf="selectedPaymentMethod === 'card'">
    <app-card></app-card>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button>Order</button>
  </mat-step>
</mat-horizontal-stepper>
