.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px;
}

.slide {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
}

.slide img {
  width:100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.slide img:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}
