<div class="category-selection">
  <div class="category-item" *ngFor="let upperCategory of upperCategories" (click)="toggleDropdown(upperCategory._id)">
    {{ upperCategory.UstKategori_Adi }}
    <div class="subcategory-dropdown" *ngIf="selectedUpperCategoryId === upperCategory._id">
      <div class="subcategory-item" *ngFor="let subCategory of subcategories[upperCategory._id]" (click)="onSubcategoryClick(subCategory._id)">
        {{ subCategory.Kategori_Adi }}
      </div>
    </div>
  </div>
</div>
