<div class="cart-container" *ngIf="cartItems.length; else emptyCart">
    <div class="cart-items">
      <mat-card *ngFor="let item of cartItems">
        <mat-card-header>
          <mat-card-title>{{ item.Urunler_Adi }}</mat-card-title>
          <mat-card-subtitle>{{ item.Urunler_Fiyat | currency: 'TRY':'₺' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="cart-item-details">
            <button mat-icon-button color="primary" (click)="deleteFromCart(item._id)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="item-image">
            <img mat-card-avatar [src]="item.Resim_URL" alt="{{ item.Urunler_Adi }}">
          </div>
            <div class="item-quantity">
              <button mat-icon-button color="primary" (click)="decreaseQuantity(item)">
                <mat-icon>remove</mat-icon>
              </button>
              <span>{{ item.adet }}</span>
              <button mat-icon-button color="primary" (click)="increaseQuantity(item)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  <div class="checkout-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sepet Özeti</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Toplam: {{ totalAmount | currency: 'TRY':'₺' }}</p>
        <button mat-raised-button color="primary" [routerLink]="['/checkout']">Checkout</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #emptyCart>
  <p class="emptyCart">Sepetinizde ürün bulunmamaktadır.</p>
</ng-template>


