/* Genel Yerleşim */
.filter-container {
  position: absolute;
  top: 20%; /* Üstten mesafe */
  left: 10px; /* Soldan mesafe */
  width: 250px;
  height: 80%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
}

/* Başlık Stili */
.filter-container h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}
